.banner img{
    height: 550px;
}
.banner{
position: relative;
}
.information{
    position: absolute;
    top: 30%;
    width: 70%;
    left: 14%;
}
.information h1{
    font-size: 41px;
    margin-bottom: 16px;
    font-weight: 800;
    color: #FFD700;
    padding: 10px;
    background: #191f1f6e;
}
.information p{
    color: #ffffff;

    background: #191f1f6e;
    padding: 10px;

}
    



    