
.banner{
position: relative;
}
.information{
    position: absolute;
    top: 70%;
    width: 40%;
    left: 16%;
    display: none;
    
}
.information h1{
    font-size: 38px;
    font-weight: 800;
    color: #B1D4E0;
    padding: 10px;
}
    
@media only screen and (max-width: 576px){
    .information h1{
      display: none;
    }
    .information{
        display: none;
       
    }
    .information p{
       display: none;
    }
}



    