.marquee-container img{
    margin: 30px;
    height: 500px;
    width: 350px;
}
@media only screen and (max-width: 576px){
    .marquee-container{
        overflow: hidden;
        padding: 30px;
    }
}